body{
background-color: #2e2e1f;
}
.topheader{
  text-align: center;
  border: 3px solid #ff9900;
padding: 3px;
color: #ffff00;
background-color:#0f0f0a;
margin-left: 150px;
margin-right: 150px;
}
.box{
  border: 3px solid #ff9900;
padding: 3px;
color: #ffff00;
background-color:#0f0f0a;
margin-left: 50px;
margin-right: 50px;
margin-top: 25px;
margin-bottom: 25px;
}

#JavaScript{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#Ruby{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#Csharp{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#resultd{
  display: none;
}
img{
  width: 300px;
  height: 300px;
}
.inputs{
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
#submission {
  margin-top: 5px;
text-align: center;
align-items: center;
}
