body{
background-color: #2e2e1f;
}
.topheader{
  text-align: center;
  border: 3px solid #ff9900;
padding: 3px;
color: #ffff00;
background-color:#0f0f0a;
margin-left: 150px;
margin-right: 150px;
}
.box{
  border: 3px solid #ff9900;
padding: 3px;
color: #ffff00;
background-color:#0f0f0a;
margin-left: 50px;
margin-right: 50px;
margin-top: 25px;
margin-bottom: 25px;
}
.well{
  color:#1ae6e6;
background-color:#0f0f0a;
border: 3px solid #ff9900;
padding: 3px;
}
.languagedescriptor{
  color:#ff9393;
  font-family: sans-serif;
}

#rust{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#swift{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#python{
  display:none;
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
}
#resultd{
  display: none;
}
img{
  width: 300px;
  height: 300px;
}
.inputs{
  border: 3px solid #ff9900;
  color: #ffff00;
  background-color:#0f0f0a;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
button{
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 25px;
}
